      .categories{
        margin-bottom:30px;
        margin-top:30px;
        display:flex;
        flex-direction: column;
        
        overflow: hidden;
        border-radius:5px;
        background-color: var(--light-gray);
        
      }
      .categories-container {
        padding:10px;
        margin: auto;
        
        width: 98%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);        
        gap: 20px;
    }
    .category {
        background: white;
        padding: 20px;
        height: 15px;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .category.active {
        background: var(--purple);
        padding: 20px;
        height: 15px;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    .category:hover{
      background-color: var(--purple);
      /*transform: scale(1.1);*/
    }