*{
  margin: 0;
  padding:0;
}

body {
            font-family: Arial, sans-serif;
            display: flex;
            /*justify-content: center;
            align-items: center;*/
            height: 100vh;
        }
        .header{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding: 10px 10px;
          width: 100%;
          height: 50px;
          background-color: #3f3b3b;
          /*border: 2px solid red;*/
          box-shadow: 3px 3px 5px rgba(193, 21, 21, 0.1);
          top:0;
          padding-right: 20px;
        }
        
      .nav{
          display : flex;
          align-items: center;
          gap: 15px;
          border: 2px solid red;
          margin-right: 20px;
          height: 80%;
      }

      .nav a{
          color:white;
          font-weight: bold;
          font-size: large;
      }

      .nav-button{
          background-color: rgba(123, 7, 158, 0.27);
          color: white;
          padding: 8px 15px;
          border-style: solid;
          border-color:#3f3b3b;
          border-radius: 10px;
          font-weight: bold;
          align-items: center;
          height: 60%;
      }

        .search-container {
            position: relative;
            width: 489px;
            border: 2px solid red;
            
          }

        input[type="text"] {
            width: 100%;
            padding: 12px 40px 12px 10px; /* Space for icon */
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 50px;
            outline: none;
        }

        .search-button {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            border: none;
            background: none;
            cursor: pointer;
        }

        .search-button img{
          width: 24px;
          height: 24px;
        }

        .logo {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid red;
          width: 10%; /* Set a fixed width or a percentage */
          height: 80%; /* Set a fixed height */
          overflow: hidden; /* Prevents the image from overflowing */
        }
        
        .logo img {
          max-width: 100%; /* Ensures the image does not exceed the container's width */
          max-height: 100%; /* Ensures the image does not exceed the container's height */
          object-fit: contain; /* Ensures the whole image fits inside */
        }

        .logo p {
          color:white;
          font-weight: bold;
          margin-left: 10px;
        }
        