:root {
  --gray: #1B1B1B;
  --black:#121212;
  --purple:#A888FF;
  --dark-purple:#7342fb;
  --light-gray: #3F3B3B;
  --lighter-gray:#353131;
  --border-color:rgb(83, 82, 82);
}
 
*{
  margin: 0;
  padding:0;
}

body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            background-color: var(--gray);
            
        }
        .main-container{
          height:auto;
          display:flex; 
          flex-direction: row; 
          
          width: 100%;
          max-width: 1200px;
          margin:0px auto;
        }

        .right-column{
          margin-left: 20px;
          height: auto;
          display:flex;
          flex-direction: column;
          width:30%;
          
          
          float:right;
  
  
        }
        .left-column {
          
          display:flex;
          flex-direction: column;
          width:100%;
          height: auto;
       
      }
      .website-title{
        font-weight: bold;
        color:var(--purple);
        font-size:20px;
        margin-bottom:20px;
      }

      .container-title{
          background-color: var(--purple);
          border-radius: 5px 5px 0 0; 
          height:40px;

      }

      .container-title p{
          font-size:17px;
          color:white;
          font-weight: bold;
          position:relative;
          top:10px;
          left:5px;

      }
      
      .read-more:hover {
          text-decoration: underline;
      }

      .most-discussed{
        border:1px solid var(--border-color); 
        overflow: hidden;
        border-radius:5px;
        margin-top:20px;
        height: auto;
        width:100%;
        flex-direction: column;
      }

      .small-post{
          display:flex;
          flex-direction: row;
          padding:5px;
          gap:10px;
          background-color:var(--lighter-gray);
          border-top:1px solid rgb(83, 82, 82);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          cursor: pointer; 
          
      }


      .small-post p{
          background-color: var(--purple);
          border-radius: 5px 5px 0 0; 
          height:40px;


      }

      .small-post-label{
        font-size:14px;
        margin-top:5px;
        color:white;
      }
      

      .small-post:hover .small-post-label {
          color: var(--purple);
          transition: color 0.3s ease; 
      }

      .small-post img{
        width: 20px;
        height: 20px;
        border-radius: 5px;
        border: 1px solid #ccc;
        object-fit: cover;
        margin-left: 5px;


      }




    
  
  

  

