:root {
  --gray: #1B1B1B;
  --black:#121212;
  --purple:#A888FF;
  --dark-purple:#7342fb;
  --light-gray: #3F3B3B;
  --lighter-gray:#353131;
  --border-color:rgb(83, 82, 82);
}
 
*{
  margin: 0;
  padding:0;
}

body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            background-color: var(--gray);
            min-height: 150vh;
            border:1px solid green;
            
        }

        
        .header{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding: 10px 10px;
          width: 100%;
          height: 50px;

          background-color:var(--black);
          box-shadow: 3px 3px 5px rgba(101, 21, 193, 0.1);
          top:0;
          padding-right: 20px;
        }
        
      .nav{
          display : flex;
          flex-direction: row;
          gap: 20px;
          align-items: center;
          margin-right: 20px;
          height: 100%;
          width:1200px;
          margin: auto auto;
          
      }

      .nav a{
          margin-top:0px;
          color:white;
          /*font-weight: bold;*/
          font-size: 15px;
      }


      .nav-button{
          background-color: var(--purple);
          color: white;
          padding: 8px 15px;
          border-style: solid;
          border-color:#3f3b3b;
          border-radius: 10px;
          font-weight: bold;
          align-items: center;
          height: 80%;
      }

      .search-container {
        position: relative;
        width: 350px;
        height: 50px;;
        display: flex;
        align-items: center;
        margin-left:2%;
        margin-right:2%;
      }

    .search{
        width: 100%;
        padding:10px;
        font-size: 16px;
        margin-top:5px;
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 30px;
        outline: none;
        padding-right: 100px;

    }

    .select-wrapper {
      position: relative;
      display: flex;
      align-items: center;
  }
    .categori {
      margin-top: 5px;
      position:absolute ;
      right: 10px; 
      border: none;
      background: none;
      font-size: 14px;
      color: #333;
      padding: 5px;
      cursor: pointer;
      outline: none;
      height: 100%;
      width: auto;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
  }

  .select-wrapper::after {
    content: "▼"; 
    font-size: 12px;
    margin-top: 5px;
    color: #666;
    position: absolute;
    right: 5px;
    pointer-events: none;
}
        .logo {
          
          display: flex;
          flex-direction: row;
        
          width: 12%; 
          height: 80%;
          overflow: hidden; 
        }
        
        .logo img {
       
          max-width: 100%;
          max-height: 100%; 
          object-fit: contain; 
        }

        .logo p {
          margin-top:10px;
          color:var(--purple);
          font-weight: bold;
          margin-left: 10px;
        }

        .main-container{
          height:auto;
          display:flex; 
          flex-direction: column; 
          
          width: 100%;
          max-width: 1200px;
          margin:0px auto;
         
        }


        .top-container{
          border:1px solid red;
          margin-top:20px;
          width: 100%; 
          display:flex;
          flex-direction:column;
          border-radius:10px;
        }

        .bottom-container{
          border:1px solid green;
          margin-top:20px;
          width: 100%; 
          display:flex;
          flex-direction:column;
          border-radius:10px;
        }

        .container-title{
          background-color: var(--purple);
          border-radius: 5px 5px 0 0; 
          height:40px;

      }

      .container-title p{
          font-size:17px;
          color:white;
          font-weight: bold;
          position:relative;
          top:10px;
          left:5px;
      }


          .profile {
            background-color: var(--light-gray);
            width:100%;
            height: 35%;
            display: flex;
            flex-direction: row;
            border:1px solid blue;
            border-radius:0 0 10px 10px;
            padding: 1%; /* Equal space on all sides */
            box-sizing: border-box; /* Ensures padding is included in the size */
          }

          .username-label{
            font-size: 120%;
            color:var(--purple); 
            font-weight: bold;
            display:block;
            align-self: left;
            margin-left:10px;
          }

          .label-list{
            margin-top:5px;
            display:flex;
            flex-direction:row;
          }
          .load-more-button{
            margin:20px 10px;
            background-color: var(--purple);
            color: white;
            border-style: solid;
            border-color:#3f3b3b;
            border-radius: 10px;
            font-weight: bold;
            height: 50px;
            width:20%;
        }

          .label {
            margin-left: 5px;
            padding: 4px 8px;
            border-radius: 5px;
            font-size: 90%;
            font-weight: bold;
            color: black;
          }
          .role-country{
            margin-left:10px;
            margin-top:10px;
            font-size: 90%;
            color:white; 
            font-weight: bold;
          }
          .moderator {
            background-color: #333;
            color: white;
          }
          
          .founder {
            background-color: #ffff99;
            color: black;
          }
          
          .developer {
            background-color: #ccffcc;
            color: black;
          }
          .stats-container {
            margin-top:10px;
            margin-left:10px;
            display: flex;
            justify-content: space-between; /* Even spacing */
            border-bottom:1px solid var(--border-color);
           
            color: white;
            
          }
          
          .stat {
            text-align: left;
          }
          
          .stat-label {
            display:block;
            align-self: left;
            font-size: 90%;
            font-weight: bold;
            color: gray; /* Dimmer color for label */
          }
          .joined-label{
            margin-top:10px;
            margin-left:10px;
            font-size: 90%;
            color:gray; 
            font-weight: bold;
            font-weight: bold;
            border-bottom:1px solid var(--border-color);
          }

          .profile-info{
            display:flex;
            flex:80%;
            flex-direction:column;
            
          }


        
         


          .profile p {
            font-size: 18px;
            color:white; 
            font-weight: bold;
        }
          .profile img {
            
            width: 20%; 
            
            object-fit: cover;
            
            border-radius:10px;
            
            height:calc(100% - 10%);
            align-self: center; 
            object-fit: cover; 
          
  
          }
          
       
        .update {
          margin-top: auto;
          margin-bottom: 10px;
          background-color: var(--purple);
          color: var(--gray);
          padding: 8px 15px;
          border-style: solid;
          border-color: #3f3b3b;
          border-radius: 10px;
          font-weight: bold;
          align-items: center;
          height: 10%;
          cursor: pointer; 
      }
        .threads {
          padding: 0px;
          height: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: var(--black);
          border: 2px solid var(--purple);
          width: 70%;
          box-shadow: 3px 3px 5px rgba(193, 21, 21, 0.1);
        }
        .threads h {
          margin-top: 10px;
          font-size: 30px;
          color:white; 
          font-weight: bold;
      }
      footer {
        margin-top:auto;
        background:var(--black);
        color: #ddd;
        padding: 20px 0;
        font-family: Arial, sans-serif;
        border-radius:5px 5px 0 0;
        margin-top: auto;
        box-shadow: 3px 3px 5px rgba(101, 21, 193, 0.1);

    }
    
    .footer-container {
        margin-top: auto;
        border-radius:5px 5px 0 0;
        display: flex;
        flex-direction:row;
        margin:0 auto;
        max-width: 900px;
        gap:20px;
        
    }


    .post-container {
      border:1px solid var(--border-color); 
      overflow: hidden;
      border-radius:5px;
      float: left;
      margin-top:20px;
      float:left;
      width:100%;
      flex-direction: column;
     
  }
  
  .post {
      display:flex;
      flex-direction: row;
      background-color:var(--lighter-gray);
      padding: 15px;
      border-top:1px solid rgb(83, 82, 82);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      height: 30px;
      align-items: center;
      justify-content: space-between;
  }
  .post-left{
    width:40%;
  }

  .post-center{
    display: flex;
    align-items: center;
    justify-content: center;
    width:20%;
  }

  .post-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width:40%;
  }

  .post-info{
    display: flex;
    flex-direction:column;
  }
  .replier-image{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #ccc;
    object-fit: cover;
    margin-left: 15px;

}
.post-label{
  font-size:14px;
  margin-bottom: 8px;
  color:white;
  
}
.user-label{
  font-size: 13px;
  color: #555;
}
  .profile-image{
      width: 40px;
      height: 40px;
      border-radius: 10px;
      border: 1px solid #ccc;
      object-fit: cover;
      float: left;
      margin-right: 15px;

  }

  
  .post-title {
      font-size:15px;
      margin-bottom: 8px;
      color:white;
  }


  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  10px auto;
    width: 38%;
    background: var(--black);
    padding: 10px;
    border-radius: 10px;
}

.pagination button, .pagination .page-number {
    background: white;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    border-radius: 8px;
    margin: 0 3px;
}
.pagination button:hover, .pagination .page-number:hover {
    background: var(--purple);
}
    
    .footer-section {
        width: 200px;
        margin-bottom: 20px;
    }
    
    .footer-section h3 {
        color: var(--purple);
    }
    
    .footer-section ul {
        list-style: none;
        padding: 0;
    }
    
    .footer-section ul li {
        margin: 5px 0;
    }
    
    .footer-section a {
        color: #ddd;
        text-decoration: none;
    }
    
    .footer-section a:hover {
        color: var(--dark-purple);
    }
    
    .social-icons a {
        margin-right: 10px;
        font-size: 20px;
        color: #ddd;
        transition: 0.3s;
    }
    
    .social-icons a:hover {
        color: var(--dark-purple);
    }
    
    .footer-bottom {
        text-align: center;
        margin-top: 20px;
        border-top: 1px solid #444;
        padding-top: 10px;
        font-size: 14px;
    }
    