:root {
    --gray: #1B1B1B;
    --black:#121212;
    --purple:#A888FF;
    --dark-purple:#7342fb;
    --light-gray: #3F3B3B;
    --lighter-gray:#353131;
    --border-color:rgb(83, 82, 82);
  }
   
  *{
    margin: 0;
    padding:0;
  }
  
  body {
              font-family: Arial, sans-serif;
              display: flex;
              flex-direction: column;
              background-color: var(--gray);
              min-height: 100vh;
          }
  

  
          .main-container{
            min-height: 100vh;
            justify-content: space-between;
            display:flex; 
            height: auto;
            flex-direction: column; 
            align-content: center;
            width: 100%;
            max-width: 1200px;
            margin:10px auto;
          }
  
          .right-column{

            display:flex;
            flex-direction: column;
            width:20%;
            height: 100%;
            
            float:right;
    
          }
  
          .left-column {
            
            display:flex;
            flex-direction: column;
            width:100%;
            height: auto;
         
        }
        .categories{
          margin-top:20px;
          display:flex;
          flex-direction: column;
          width:100%;
          overflow: hidden;
          border-radius:5px;
          background-color: var(--light-gray);
          
        }
        .container-title{
          background-color: var(--purple);
          border-radius: 5px 5px 0 0; 
          height:40px;

      }

      .container-title p{
          font-size:17px;
          color:white;
          width: 100%;
          font-weight: bold;
          position:relative;
          top:10px;
          left:5px;
      }
      
  
        .website-title{
          font-weight: bold;
          color:var(--purple);
          font-size:20px;
          margin-bottom:20px;
        }
  
        .categories-container {
          padding:10px;
          margin: auto;
          width: 98%;
          display: grid;
          grid-template-columns: repeat(4, 1fr);        
          gap: 20px;
      }
        .category {
          background: white;
          padding: 20px;
          height: 15px;
          text-align: center;
          border-radius: 5px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
      .category:hover{
        background-color: var(--purple);
        /*transform: scale(1.1);*/
      }
        


        .pagination {
          display: flex;
          justify-content: center;
          align-items: center;
          margin:  10px auto;
          background: var(--black);
          padding: 10px;
          border-radius: 10px;
      }
     


      .pagination button, .pagination .page-number{
          background: white;
          padding: 10px 15px;
          cursor: pointer;
          font-size: 16px;
          color: black;
          border-radius: 8px;
          margin: 0 3px;
          text-decoration: none;
      }
      .page-number.active {
      background-color: var(--purple);
      color: white;
      text-decoration: none;
      }

      .pagination button:hover, .pagination .page-number:hover {
          background: var(--purple);
      }

        
        
  
        
  
  